@media screen and (min-width: 1024px) {
    .footer {
        margin-top: 150px;
    }

    .footer h3 {
        font-size: 40px;
    }
}

.footer {
    padding-top: 100px;
    padding-bottom: 90px;
    border-top: 1px solid #9C69E2;
}

.footer h3 {
    font-weight: 700;
    color: #212353;
    margin-bottom: 20px;
}

.footer p {
    font-size: 18px;
    color: #4B5D68;
}

.footer address {
    color: #212353;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    margin-bottom: 10px;
}

.footer address~a {
    color: #212353;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.8;
}

.footer .logo {
    display: block;
    margin-bottom: 63px;
}

.footer-menu-title {
    font-size: 16px;
    font-weight: 900;
    color: #212353;
    margin-bottom: 30px;
}

.footer-menu-list .footer-menu-link {
    display: block;
    font-size: 16px;
    color: #212353;
    line-height: 40px;
}

.social-media-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -7px;
}

.social-media-list .social-media-item {
    padding: 0 7px;
}

.social-media-list .social-media-item .social-media-link {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #212353;
    opacity: 0.1;
}

.social-media-list .social-media-item:hover .social-media-link {
    opacity: 1;
    transition: 1s;
}

p.copyright {
    color: #212353;
    font-size: 12px;
    line-height: 1.8;
}

img.contact {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 2;
}

img.contact:hover {
    filter: hue-rotate(90deg);
    transition: 1s;
}