@media screen and (min-width: 1024px) {

    /* Hero Section */
    .hero-section {
        margin-top: 150px;
        margin-bottom: 100px;
    }


    .hero-section .hero-image {
        padding-top: 80px;
    }

    .hero-section .hero-content h1 {
        max-width: 645px;
        font-size: 80px;
    }

    .hero-section .hero-content p {
        width: 380px;
        margin-bottom: 50px;
        font-size: 18px;
    }

    .hero-section .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    /* Pink Section */    
    .pink-section {
        margin-bottom: 150px;
    }

    .pink-section-content {
        padding-right: 92px;
    }

    /* Features */
    .features h2 {
        margin-bottom: 50px;
    }

    .features .section-header p {
        width: 584px;
        margin: 0 auto;
    }
}

/* Hero Section */
.hero-section .hero-content h1 {
    color: #212353;
    font-size: 700;
    margin-bottom: 50px;
}

.hero-section .hero-content p {
    color: #4B5D68;
    font-weight: 500;
    line-height: 2;
}

/* Pink Section */
.pink-section-background {
    background-position: center;
    background-image: url("../img/pink-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pink-section h2 {
    color: #212353;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
}

.pink-section p {
    color: #4B5D68;
    font-weight: 500;
    font-size: 18px;
    line-height: 28,8px;
}

/* Features */
.features .section-header h2 {
    font-size: 40px;
    color: #212353;
    font-weight: 700;
}

.features .section-header p {
    font-size: 18px;
    color: #4B5D68;
    font-weight: 500;
    line-height: 1.6;
}
.features .section-header {
margin-bottom: 70px;
}

.features .card {
    display: flex;
    flex-wrap: wrap;
}

.features .card-image, 
.features .card-content {
    padding: 0 15px;
}