@media screen and (min-width: 1024px) {

    /* Hero Section */
    .hero-section {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .hero-section .hero-image {
        padding-top: 80px;
    }

    .hero-section .hero-content h1 {
        max-width: 645px;
        font-size: 80px;
    }

    .hero-section .hero-content p {
        width: 380px;
        margin-bottom: 50px;
        font-size: 18px;
    }

    .hero-section .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    /* Pink Section */
    .pink-section {
        margin-bottom: 150px;
    }

    .pink-section-content {
        padding-right: 92px;
    }

    /* Features */
    .features h2 {
        margin-bottom: 50px;
    }

    .features .section-header p {
        width: 584px;
        margin: 0 auto;
    }

    .features .card:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    
    .features .background-green {
        background-image: url("../img/card-green.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
    }
    
    .features .background-purple {
        background-image: url("../img/card-purple.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
    }
    
    .features .background-pink {
        background-image: url("../img/card-pink.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
    }
    
    .features .background-blue {
        background-image: url("../img/card-blue.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
    }

    /* Comments */
    .comments-background {
        background-image: url("../img/testimonials.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 710px;
        padding-top: 109px;
        padding-left: 93px;
    }
}

@media screen and (max-width: 1023.9px) {
    
    section {
        padding-inline: 15px;
    }

    .hero-section {
        margin-bottom: 30px;
    }

    .hero-section .hero-content {
        margin-bottom: 15px;
    }

    .pink-section {
        margin-bottom: 30px;
    }

    .pink-section-background {
        padding-bottom: 30px;
    }

    /* Features */
    .flex-2 .background-green {
        background-color: rgba(104, 201, 186, 0.1);
    }

    .flex-2 .background-purple {
        background-color: rgba(156, 105, 226, 0.1);
    }

    .flex-2 .background-pink {
        background-color: rgba(240, 99, 184, 0.1);
    }

    .flex-2 .background-blue {
        background-color: rgba(45, 156, 219, 0.1);
    }
}

/* Hero Section */
.hero-section .hero-content h1 {
    color: #212353;
    font-size: 700;
    margin-bottom: 50px;
}

.hero-section .hero-content p {
    color: #4B5D68;
    font-weight: 500;
    line-height: 2;
}

/* Pink Section */
.pink-section-background {
    background-position: center;
    background-image: url("../img/pink-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pink-section h2 {
    color: #212353;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
}

.pink-section p {
    color: #4B5D68;
    font-weight: 500;
    font-size: 18px;
    line-height: 28, 8px;
}

/* Features */
.features .section-header h2 {
    font-size: 40px;
    color: #212353;
    font-weight: 700;
}

.features .section-header p {
    font-size: 18px;
    color: #4B5D68;
    font-weight: 500;
    line-height: 1.6;
}

.features .section-header {
    margin-bottom: 70px;
}

.features .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0 30px 0;
}

.features .card-content {
    flex: 1 0 0;
}

.features .card-image,
.features .card-content {
    padding: 0 15px;
}

/* Comments */
.comments {
    position: relative;
    overflow-x: hidden;
}

.comments .swiper-container {
    position: absolute;
    top: 249px;
    left: 93px;
    transform: translateY(-50%, -50%);
    z-index: 1;
}